<div style="padding: 30px 0 30px 30px">
    <h2>INFO</h2>
    <ul>
        <li>El argumento de entrada es: {{data.argumentoDeEntrada}}</li>
        <li>El sistema operativo es: {{data.sistOperativo}}</li>
        <li>La versión de node es: {{data.versionNodeJs}}</li>
        <li>La memoria reservada es: {{data.memoriaReservada}}</li>
        <li>El path de ejecución es: {{data.pathEjecucion}}</li>
        <li>Process ID: {{data.processID}}</li>
        <li>La carpeta del proyecto es {{data.carpetaDelProyecto}}</li>
    </ul>

    <button onclick="location.href='/api/auth/'">VOLVER AL INICIO</button>
</div>