<div>
    <h1 class="title">Lista de productos</h1>

    <table class="product-list table table-striped table-hover border-dark align-middle">

        {{#if products.length}}
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Stock</th>
            <th>Miniatura</th>

        </tr>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.description}}</td>
            <td>{{this.stock}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
        </tr>
        {{/each}}
        {{else}}

        <p>No hay productos ingresados</p>
        {{/if}}
    </table>
    <br>


</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
    }

    .title {
        text-align: center;
    }

    .product-list {
        width: 80%;
        margin-left: 10%;
    }
</style>